name: Deploy Azure Functions

on:
  push:
    branches: [ "main" ]
    paths:
      - "api/**"
      - ".github/workflows/deploy-functions.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install and build
        working-directory: api
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: Azure/functions-action@v1
        with:
          app-name: kinetic-api-bxdaadd8bpgvhsdz.scm.australiaeast-01.azurewebsites.net:443
          package: api
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
